.test{
    background: url(../../static/images/banner.png);
    h2{
        color:pink;
        &:hover{
            color: yellow;
            cursor: pointer;
        }
        transform: rotate(180deg)
    }
}