{
    "presets": [ "react",
      [ "env",
        {
          "targets": {
            "browsers": ["IE >= 9"]
          }
        }
      ],
      "stage-0"
    ],
    "plugins": ["transform-decorators-legacy"]
    
}