.header{
    background:rgb(0, 188, 212);
    color: #fFF;
    height: 100px;
    header{
        h3{
            text-align: center;
            line-height: 80px;
        }
        span{
           margin-left: 30px
        }
    }
}